# Project exclude paths
/.gradle/
/Simple Chatty Bot (Java)/task/build/
/Simple Chatty Bot (Java)/task/out/
/Simple Chatty Bot (Java)/task/out/production/classes/
/Simple Chatty Bot (Java)/task/out/test/classes/
/Topics/Conditional statement/The army of units/out/
/Topics/Conditional statement/The army of units/out/production/classes/
/Topics/Relational operators/Check the value/out/
/Topics/Relational operators/Check the value/out/production/classes/
/Topics/Scanning the input/Hiring a chef/out/
/Topics/Scanning the input/Hiring a chef/out/production/classes/
/Topics/Scanning the input/Print strings in the reverse order/out/
/Topics/Scanning the input/Print strings in the reverse order/out/production/classes/
/Topics/Scanning the input/Reading a number/out/
/Topics/Scanning the input/Reading a number/out/production/classes/
/Topics/Scanning the input/Reorder the sequence/out/
/Topics/Scanning the input/Reorder the sequence/out/production/classes/
/Topics/Scanning the input/Theory/out/
/Topics/Scanning the input/Theory/out/production/classes/
/Topics/String/Check burgs/out/
/Topics/String/Check burgs/out/production/classes/
/Topics/String/Extracting a character/out/
/Topics/String/Extracting a character/out/production/classes/
/Topics/String/Replacing 'a' with 'b'/out/
/Topics/String/Replacing 'a' with 'b'/out/production/classes/
/Topics/The for-loop/The count of numbers divisible by N/out/
/Topics/The for-loop/The count of numbers divisible by N/out/production/classes/
/Topics/The for-loop/The product of numbers from a to b/out/
/Topics/The for-loop/The product of numbers from a to b/out/production/classes/
/Topics/Types and variables/Assignments/out/
/Topics/Types and variables/Assignments/out/production/classes/
/Topics/Types and variables/Incorrect counter/out/
/Topics/Types and variables/Incorrect counter/out/production/classes/
/Topics/Types and variables/Theory/out/
/Topics/Types and variables/Theory/out/production/classes/